<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
     <classpathContainerPage
       id="com.microsoftopentechnologies.acsfilter.DRIVER_JAVAEE6"
       name="%page.name"
       class="com.microsoftopentechnologies.acsfilter.ui.classpath.ClasspathContainerPage"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer
       id="com.microsoftopentechnologies.acsfilter.DRIVER_JAVAEE6"
       class="com.microsoftopentechnologies.acsfilter.ui.classpath.ContainerInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.startup">
     <startup class="com.microsoftopentechnologies.acsfilter.ui.classpath.WAACSStartUp"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
         <contexts file="contexts.xml">
         </contexts>
   </extension>

</plugin>
