<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
         <contexts file="contexts.xml">
         </contexts>
   </extension>
   <extension point="org.eclipse.ui.startup">
     <startup class="com.microsoftopentechnologies.wacommon.startup.WACPStartUp"/>
   </extension>
    <!-- Azure preference page -->
   <extension point = "org.eclipse.ui.preferencePages">
    <page
       	id="com.persistent.ui.preferencepage.windowsazure"
       	class="com.microsoftopentechnologies.wacommon.preference.WindowsAzurePreferencePage"
       	name="Azure">
    </page>
   </extension>
</plugin>
